@import url('reset.css');

@font-face {
    font-family: 'NotoSans'; /* 폰트 패밀리 이름 주기*/
    src: url('NotoSansCJKkr-Medium.otf') format('opentype'); /*폰트 파일 주소*/
}

html{
    font-size:62.5% !important
}

*{
    font-family: 'NotoSans' !important;
}
#wrap{
    width:100%;
    height:100%;
    /*position:absolute;*/
}

button{
    /*display:none;*/
}

.header{
    background:rgb(255, 165, 9);
    height:5.6rem;
    line-height: 5.6rem;
    top:0;
    width:100%;
    position:fixed;
    z-index:100;
    color:white;
}

.clear-fix{
    clear:both;
}

.header>h1{font-size:1.9em;line-height:6rem;position:relative;float:left;}
.header>.header-icon{
    /*width:4.3rem;*/
    height:100%;
    text-indent: -9999px;
}

.header>.header-icon.ic-back{
    background:url('./img/ic_back.png') no-repeat center center;
    background-size:2.15rem;
    min-width:4.3rem;
}
.header>.header-icon.ic-share{
    background:url('./img/ic_share.png') no-repeat center center;
    background-size:2.15rem;
    min-width:4.5rem;
    margin-right:1rem;
}
.header>.header-icon.ic-like{
    background:url('./img/ic_like.png') no-repeat center center;
    background-size:2.15rem;
    min-width:4.5rem;
    /*margin-right:1rem;*/
}
.header>.header-icon.ic-like.on{
    background:url('./img/ic_like_select.png') no-repeat center center;
    background-size:2.15rem;
}


.container{
    background:darkseagreen;
    height:100%;
    overflow: auto;
    width:100%;
}

.content{
    background:rgb(246, 246, 246);
    font-size:1.3rem;
    color:#6a6a6a;
}

.content section{
    height:100%;
}

.content section h2{
    font-size: 1.7rem;
    line-height: 1.7rem;
    font-weight: bold;
    display:inline-block;
    margin:1.25rem 0 0 1.5rem;
    color:rgb(97, 97, 97);

}

.content section:last-child{
    padding-bottom:8rem;
}

.content section h2.main-title{
    color:black;
}

.image-wrapper{
    /*overflow: hidden;*/
    /*height:36rem;*/
    width:100%;
    margin-top:5.6rem;
}

.image-slider{
    height:100%;
    width:400%;
}

.image-slider amp-img{
    max-width:25%;
    min-width:25%;
    width:25%;
    height:100%;
    float:left;
}

.room-manager-level {
    display:inline-block;
    width:100%;
    height:4.5rem;
    background:rgb(13,196,191);
    font-size:1.6rem;
    /*padding-left:1rem;*/
    color:white;
}

.room-manager-level .truth-agency{
    background:url('./img/truth-agency.png') no-repeat center center;
    text-indent:-9999px;
    background-size:9rem;
    /*position:absolute;*/
    margin:0 0.5rem 0 1.1rem;
    height:100%;
    width:9rem;
    display:inline-block;
}

.room-manager-level .ic-help{
    background:url('./img/ic_help.png') no-repeat center center;
    background-size:2.4rem;
    margin-right:0.9rem;
    text-indent: -9999px;
    width:2.4rem;
    height:100%;
}

.sp-box{
    display:inline-flex;
    height:100%;
    align-items:center;
}

.room-manager-level button{
    /*line-height: 2rem;*/
}

.room-title {
    height:2rem;
    line-height: 2rem;
}

.room-info {
    margin:1rem;
    background:white;
    border:1px solid #e1e1e1;
}

.room-info table{
    width:100%;
}

.room-info table th{
    background: rgb(250, 250, 250);
    height:2rem;
}

.room-info table th, td{
    text-align:left;
    vertical-align: middle;
    padding:1rem;
}

.room-info table tr.table-border{
    border-bottom: 1px solid #e1e1e1;
}

.btn-appraisal{
    background:url('./img/btn-appraisal.png') no-repeat center center;
    background-size:11.2rem;
    text-indent: -9999px;
    width:100%;
    height:100%;
    cursor: pointer;
}

span.point{
    font-size:1.7rem;
    color:rgb(254, 120, 0);
}

.clear-fix:after{
    content: " ";
    display: block;
    clear: both;
    width: 100%;
}

.room-info.room-desc{
    padding:1.5rem 1rem;
    line-height:2.25rem;
}


.room-info.building-info{
    padding: 1.25rem;
}

.room-info .building-img {
    /*padding:1.25rem;*/
    float:left;
}

.room-info .building-desc{
    /*padding:1.25rem 1.25rem 1.25rem 0;*/
    float: left;
    /*margin: 1.25rem 0 1.25rem 1.25rem;*/
    line-height: 2rem;
    font-size: 1.3rem;
    padding-left:1.25rem;
}

.room-info .building-desc>div:first-child{
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 0.8rem;
}

.room-info .building-desc>div:last-child{
    padding-top: 0.8rem;
}

.room-info.map-viewer #map{
    height:20rem;
}

.room-info.agency{
    padding: 1.25rem;
}

.room-info .agency-manager-info{
    padding-bottom: 0.8rem;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.room-info .agency-manager-info>.agency-image{
    width:10rem;
    height:10rem;
}

.room-info .agency-manager-info>.agency-image, .agency-manager-desc{
    float:left;
}

.room-info .agency-manager-info>.agency-manager-desc{
    margin-left:1.6rem;
}

.room-info .agency-manager-info>.agency-manager-desc p{
    padding-bottom:0.8rem;
}

.room-info .agency-info {
    /*padding-top:0.8rem;*/
    font-size: 1.25rem;
    line-height:1.25rem;
}

.room-info .agency-info h3{
    border-bottom: 1px solid rgb(238, 238, 238);
    padding:0.8rem 0 0.8rem 0;
}

.room-info .agency-info ul{
    /*border-bottom: 1px solid rgb(238, 238, 238);*/
    padding:0.8rem 0 0 0;
}

.room-info .agency-info ul > li{
    /*border-bottom: 1px solid rgb(238, 238, 238);*/
    line-height:1.25rem;
    padding-bottom:0.5rem;
    padding-left:1rem;
    font-size: 1.25rem;
    background:url('./img/bullet.png') no-repeat left 0.2rem;
}
.room-info .agency-info ul > li:last-of-type{
    padding-bottom:0;
}

.room-info.map-viewer .map-button{
    border-top:1px solid rgb(225,225,225);
}

.room-info.map-viewer .map-button > button{
    width:50%;
    height:4rem;
    float:left;
    font-size:1.7rem;
}
.room-info.map-viewer .map-button > button:first-child{
    border-right:1px solid rgb(225,225,225);
}

.room-info.map-viewer .map-button > .btn-load-view{
    background:url('./img/ic-loadview.png') no-repeat 3.5rem 0.5rem;
    background-size:1.8rem;
    padding-left:1.8rem;
}

.room-info.map-viewer .map-button > .btn-map-view{
    background:url('./img/ic-mapview.png') no-repeat 4rem 1rem;
    background-size:1.8rem;
    padding-left:1.8rem;
}

.room-info.agency.agency-desc{
    background:rgb(132,132,132);
    color:white;
}
.room-info.agency.agency-desc p{
    /*padding-bottom: 0.8rem;*/
    font-size:1.2rem;
    line-height:1.8rem;

}

.room-info.agency.agency-desc p:last-child{
    padding-bottom:0;
}

.bold{
    font-weight:bold;
}

#footer{
    position: fixed;
    bottom:0;
    width:100%;
    left:0;
    height:8rem;
    font-size:0;
    background:white;
    border-top: 2px solid rgb(213,213,213);
    z-index:100;
}

#footer>.footer-inner-wrap{
    height:100%;
    margin:0 1.6rem 0 1.6rem;
}

#footer .sub-agency-info, .call-btn-wrap{
    font-size:1.6rem;
    width:50%;
    display:inline-block;
    vertical-align: middle;
    height:100%;
}

#footer .call-btn-wrap{
    float:right;
    width:16.25rem;
}

#footer .call-btn-wrap button{
    background:url('./img/call-btn.png') no-repeat center center;
    background-size:16rem;
    width:100%;
    height:100%;
    text-indent: -9999px;
}

#footer .sub-agency-info{
    display:inline-flex;
    align-items: center;
}
#footer .sub-agency-info > ul > li{
    padding:0.2rem 0 0.2rem 0;
}
#footer .sub-agency-info > ul > li:nth-of-type(1){
    font-size:1.3rem;
    color:rgb(149,149,149);
}

#footer .sub-agency-info > ul > li:nth-of-type(3){
    font-size:1.3rem;
    color:rgb(254, 120, 0);
}

.pl, .pr{
    /*position:absolute;*/
    top:0;
    height:100%;
    /*width:3rem;*/
}


.pl { float:left; background: blue;}
.pr{ float:right; background:yellowgreen; }
sup{
    vertical-align: super;
    font-size:smaller;
}

.amp-carousel-slide>.-amp-replaced-content, .amp-carousel-slide>.i-amphtml-replaced-content {
    -o-object-fit: initial;
    object-fit: initial;
}

.lightbox {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
}
.lightbox h1 {
    color: white;
}

